---
BasedOnStyle: Chromium
AccessModifierOffset: '-4'
AlignAfterOpenBracket: BlockIndent
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignOperands: false
AlignTrailingComments: false
BreakConstructorInitializers: BeforeComma
BreakInheritanceList: BeforeComma
BreakBeforeBinaryOperators: All
BreakBeforeBraces: Custom
Cpp11BracedListStyle: true
BinPackArguments: false
BinPackParameters : false
BraceWrapping:
    BeforeElse: true
ColumnLimit: '90'
ContinuationIndentWidth: '4'
IndentCaseLabels: false
IndentWidth: '4'
Language: Cpp
ReflowComments: true
SortIncludes: false
FixNamespaceComments : true
ShortNamespaceLines: 0
AllowShortFunctionsOnASingleLine: 'All'
ForEachMacros: [
    'FOR_DIRECTION',
    'FOR_RANGE',
    'FOREACH',
    'TEST_CASE',
]
